---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/home/HeroSection.astro";
import ProjectsSection from "../components/home/ProjectsSection.astro";
import WritingSection from "../components/home/WritingSection.astro";
import { getProjectsWithPreviews, getSortedPosts } from "../lib/content";

const [projects, posts] = await Promise.all([
  getProjectsWithPreviews(),
  getSortedPosts(),
]);
---

<BaseLayout
  title="Wint Khant Lin aka Happer"
  description="Hello, I am Wint Khant Lin, also known as Happer. I am a college student from Myanmar. I love coding, listening to music."
>
  <main class="mx-auto max-w-4xl px-5 text-(--text) sm:px-6 md:px-8">
    <HeroSection />
    <ProjectsSection projects={projects} />
    <WritingSection posts={posts} />
  </main>
</BaseLayout>
